body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif !important;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: url('https://images.unsplash.com/photo-1542681575-352258e0c854?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80') center center no-repeat;
  background-size: cover;
}
::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

.sc-truncate[style] {
  display: none !important;
}

.playlist-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.channel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top left;
}

.channel-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.channel-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  width: 40vw;
  z-index: 99;
}

.playlist-logo {
  border-radius: 50%;
  position: relative;
  margin-left: 35%;
  margin-bottom: 10%;
  border: 2px solid white;
}

.playlist-title {
  font-size: 3.5vw;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.8vw;
}

.playlist-description {
  color: #fff;
  font-size: 1vw;
  line-height: 1.6;
}

.vignette-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.95) 80%, rgba(0, 0, 0, 0.95) 100%);
}

/* Particle container. */
canvas {
  display: block;
  vertical-align: bottom;
}

#particle-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.record-container {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 45%;
  height: 40vw;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 1);
}

.spotify-iframe {
  position: absolute;
  margin-top: 10px;
  right: 10px;
  width: 70%;
  height: 95%;
  margin-left: 10px;
  z-index: 90;
}

@media only screen and (max-width: 600px) {
  .spotify-iframe {
    right: 10px;
    height: 20vh;
    bottom: 1em;
    width: 90vw;
  }

  .song-list-button .circle-button {
    display: none;
  }

  .channel-item {
    background-position: center;
  }
}

.player-background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-image: url(https://i.imgur.com/WymUEM1.png);
  background-size: 100%;
  background-position: center right;
  background: rgba(255, 255, 255, 0.1);
}

.record-box {
  position: absolute;
  bottom: 6vw;
  right: 2vw;
  width: 45%;
  height: 50%;
  overflow: hidden;
  display: flex;
  z-index: 80;
}

.album-box {
  display: inline-block;
}

.album-box img {
  border-radius: 100%;
  height: 11vw;
  width: 11vw;
  margin: 0.5vw;
  animation: recordRotate linear 7s infinite;
}

@keyframes recordRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.song-list-button {
  position: absolute;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  display: block;
}

.circle-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.circle-button2 {
  top: 0;
  left: 20px;
}

.circle-button3 {
  top: 0;
  left: 40px;
}

.circle-button4 {
  top: 20px;
  left: 0;
}

.circle-button5 {
  top: 20px;
  left: 20px;
}

.circle-button6 {
  top: 20px;
  left: 40px;
}

.circle-button7 {
  top: 40px;
  left: 0;
}

.circle-button8 {
  top: 40px;
  left: 20px;
}

.circle-button9 {
  top: 40px;
  left: 40px;
}

@media only screen and (max-width: 600px) {
  .song-list-button,
  .record-box.paused {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .record-container {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 100%;
    height: 50vw;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 1);
  }
}

